[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Ice Store
Comment=A store for web apps, powered by Ice.
GenericName=Ice Store
Exec=ice-store
Icon=ice-store
Terminal=false
Type=Application
Categories=GTK;Network;
StartupNotify=false
GenericName[en_US]=Ice
